.mobile,
.tablet,
.pc {
    margin: auto;
    font-size: 100px;
    text-align: center;
    display: none;
}

@media screen and (max-width: 46.1875em) {
    .mobile {
        display: block;
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .tablet {
        display: block;
    }
}

@media screen and (min-width: 64em) {
    .pc {
        display: block;
    }
}