<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control">
          <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
            <span style="color: red" *ngIf="signupForm.get('username').errors['nameIsForbidden']">This field is invalid</span>
            <span style="color: red" *ngIf="signupForm.get('username').errors['required']">This field is require</span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
          <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
            <span style="color: red" *ngIf="signupForm.get('email').errors['emailIsForbidden']">This field is invalid</span>
            <span style="color: red" *ngIf="signupForm.get('email').errors['required']">This field is require</span>
          </span>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender">{{ gender }}
          </label>
        </div>
<!--        <div>-->
<!--&lt;!&ndash;          <select formControlName="id">&ndash;&gt;-->
<!--&lt;!&ndash;            <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>&ndash;&gt;-->
<!--&lt;!&ndash;          </select>&ndash;&gt;-->
<!--          -->
<!--        </div>-->
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-default" (click)="onAddHobby()">Add hobby</button>
          <br><br>
          <div class="form-group" *ngFor="let hobby of getControls(); let i = index">
            <input class="form-control" type="text" [formControlName]="i">
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
