<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-8 offset-md-2">-->
<!--      <form #f="ngForm" (ngSubmit)="onSubmit()">-->
<!--        <h3 class="mt-3 text-center">My form</h3>-->
<!--        <div class="form-group">-->
<!--          <label class="mt-2" for="email">Email:</label>-->
<!--          <input type="text" name="email" id="email" class="form-control" ngModel #email="ngModel" required email>-->
<!--          <span style="color: red" *ngIf="!email.valid && email.touched">This field must not be left black or receive an invalid value</span>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label class="mt-2" for="subscription">Subscription:</label>-->
<!--          <select name="subscription" id="subscription" class="form-select" [ngModel]="defaultSubscription">-->
<!--            <option *ngFor="let sub of subscriptions" [value]="sub">{{ sub }}</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label class="mt-2" for="password">Password:</label>-->
<!--          <input type="password" name="password" id="password" class="form-control" ngModel #password="ngModel" required>-->
<!--          <span style="color: red" *ngIf="!password.valid && password.touched">Password must not be empty</span>-->
<!--        </div>-->
<!--        <button [disabled]="!f.valid" class="btn btn-primary mt-3" type="submit">Submit</button>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="col-md-8 offset-md-2">-->
<!--      <hr>-->
<!--    </div>-->
<!--    <div class="col-md-8 offset-md-2" *ngIf="submitted">-->
<!--      <h3>User information:</h3>-->
<!--      <p>Email: {{ user.email }}</p>-->
<!--      <p>Subscription: {{ user.subscription }}</p>-->
<!--      <p>Password: {{ user.password }}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
